@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:hover{
    color: rgba(180, 184, 185, 0.8)
}

.header_bg{
    background-image: url('./img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
   aspect-ratio: 16/8;
}

textarea{
    resize: none;
}
.swiper{
    width: 350px;
}