@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:hover{
    color: rgba(180, 184, 185, 0.8)
}

.header_bg{
    background-image: url('./img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // width: 100%;
   aspect-ratio: 16/8;
//    &::before{
//     content: '';
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    background-color: rgba(0, 0, 0, 0.522);
//    z-index: 1;
//    }
}

textarea{
    resize: none;
}
// .swiper{
//     width: 350px;
// }
.services__box::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.522);
   z-index: 1;
}